##### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Importing Data

In [2]:
deli = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/deliveries.csv")
match = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/matches.csv")

In [3]:
print("Deliveries:",deli.shape)
deli.head()

Deliveries: (179078, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
print("Matches:",match.shape)
match.head()

Matches: (756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [6]:
match.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

### Data Preprocessing

##### Seeing the unique values in some of the columns

In [7]:
for (columnName, columnData) in deli[['inning','batting_team','over','ball','is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs','dismissal_kind']].iteritems(): 
    print('Deliveries - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n') 
print("\n---------------------------------\n")
for (columnName, columnData) in match[['season','city','team1','toss_decision','result','dl_applied','venue']].iteritems(): 
    print('Matches - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n')

Deliveries - Colunm Name: inning
Unique Values: [1 2 3 4 5]

Deliveries - Colunm Name: batting_team
Unique Values: ['Sunrisers Hyderabad' 'Royal Challengers Bangalore' 'Mumbai Indians'
 'Rising Pune Supergiant' 'Gujarat Lions' 'Kolkata Knight Riders'
 'Kings XI Punjab' 'Delhi Daredevils' 'Chennai Super Kings'
 'Rajasthan Royals' 'Deccan Chargers' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Delhi Capitals']

Deliveries - Colunm Name: over
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Deliveries - Colunm Name: ball
Unique Values: [1 2 3 4 5 6 7 8 9]

Deliveries - Colunm Name: is_super_over
Unique Values: [0 1]

Deliveries - Colunm Name: wide_runs
Unique Values: [0 2 1 5 3 4]

Deliveries - Colunm Name: bye_runs
Unique Values: [0 1 4 2 3]

Deliveries - Colunm Name: legbye_runs
Unique Values: [0 1 2 5 3 4]

Deliveries - Colunm Name: noball_runs
Unique Values: [0 1 2 5 3]

Deliveries - Colunm Name: penalty_runs
Unique Values: [0 5]

Deliveries - Colunm Name: batsman_runs
Unique Values: [0 4 1 6 3 2 5 7]

Deliveries - Colunm Name: extra_runs
Unique Values: [0 2 1 4 5 3 7]

Deliveries - Colunm Name: total_runs
Unique Values: [ 0  4  2  1  6  3  5  7 10  8]

Deliveries - Colunm Name: dismissal_kind
Unique Values: [nan 'caught' 'bowled' 'run out' 'lbw' 'caught and bowled' 'stumped'
 'retired hurt' 'hit wicket' 'obstructing the field']


---------------------------------

Matches - Colunm Name: season
Unique Values: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016 2018 2019]

Matches - Colunm Name: city
Unique Values: ['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' nan
 'Mohali' 'Bengaluru']

Matches - Colunm Name: team1
Unique Values: ['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

Matches - Colunm Name: toss_decision
Unique Values: ['field' 'bat']

Matches - Colunm Name: result
Unique Values: ['normal' 'tie' 'no result']

Matches - Colunm Name: dl_applied
Unique Values: [0 1]

Matches - Colunm Name: venue
Unique Values: ['Rajiv Gandhi International Stadium, Uppal'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla' 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Green Park' 'Punjab Cricket Association Stadium, Mohali'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'M. A. Chidambaram Stadium' 'Feroz Shah Kotla Ground'
 'M. Chinnaswamy Stadium' 'Rajiv Gandhi Intl. Cricket Stadium'
 'IS Bindra Stadium' 'ACA-VDCA Stadium']

##### Shortening and Changing similiar names for easier understanding

In [8]:
old = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']
new = ['SRH', 'RCB', 'MI', 'RPS', 'GUJ', 'KKR', 'KXIP', 'DC', 'CSK', 'RR', 'SRH', 'KOCHI', 'PUNE', 'RPS', 'DC']
deli = deli.replace(old, new )
match = match.replace(old, new)

print(deli['batting_team'].unique(), "Size:",deli['batting_team'].unique().shape[0],'\n')
print(match['team1'].unique(), "Size:",match['team1'].unique().shape[0])

['SRH' 'RCB' 'MI' 'RPS' 'GUJ' 'KKR' 'KXIP' 'DC' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

['SRH' 'MI' 'GUJ' 'RPS' 'RCB' 'KKR' 'DC' 'KXIP' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

In [9]:
new_stad = ['Rajiv Gandhi International Stadium',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
 'Green Park', 'Punjab Cricket Association IS Bindra Stadium',
 'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi International Stadium',
 'Punjab Cricket Association IS Bindra Stadium', 'ACA-VDCA Stadium'] 
 
old_stad = ['Rajiv Gandhi International Stadium, Uppal',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Green Park', 'Punjab Cricket Association Stadium, Mohali',
 'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium, Motera', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
 'IS Bindra Stadium', 'ACA-VDCA Stadium'] 

match = match.replace(old_stad, new_stad) 
match['venue'].unique()

array(['Rajiv Gandhi International Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
       'Green Park', 'Sawai Mansingh Stadium',
       'M. A. Chidambaram Stadium', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium', 'Sardar Patel Stadium',
       'Barabati Stadium', 'Vidarbha Cricket Association Stadium',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Cricket Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'ACA-VDCA Stadium'], dtype=object)

In [10]:
old_diss = [None, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled', 'stumped',
 'retired hurt', 'hit wicket', 'obstructing the field']
new_diss = ["0","1","1","0","1","1","1","0","1","0"]
new_diss2 = ["0","1","1","1","1","1","1","1","1","1"]
deli['dismissal_by_bowler'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['dismissal_by_bowler'] = deli['dismissal_by_bowler'].astype(int)
deli['is_out'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['is_out'] = deli['is_out'].astype(int)
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,dismissal_by_bowler,is_out
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2,1,1,SRH,RCB,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,4,0,4,NaN,NaN,NaN,0,0
3,1,1,SRH,RCB,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
4,1,1,SRH,RCB,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,2,2,NaN,NaN,NaN,0,0

##### Removing data of matches that were not played

In [11]:
match.iloc[np.where(match['winner'].isnull() == True)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [12]:
print(match.shape)
no_res = np.where(match['result'] == 'no result')[0]
match.iloc[no_res]

(756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [13]:
for i in no_res:
    id = match.iloc[i]['id']
    a = np.where(deli['match_id'] == id)[0]
    deli = deli.drop(a).reset_index().drop(['index'], axis=1)

match = match.drop(no_res).reset_index().drop(['index'], axis=1)

#### Adding boundaries and extras column

In [14]:
is_no = []
is_wide = []
is_bye = []
is_legbye = []
for i in deli['noball_runs']:
    if i != 0:
        is_no.append(1)
    else:
        is_no.append(0)

for i in deli['wide_runs']:
    if i != 0:
        is_wide.append(1)
    else:
        is_wide.append(0)
    
for i in deli['bye_runs']:
    if i != 0:
        is_bye.append(1)
    else:
        is_bye.append(0)
    
for i in deli['legbye_runs']:
    if i != 0:
        is_legbye.append(1)
    else:
        is_legbye.append(0)
    
deli['is_no'] = is_no
deli['is_wide'] = is_wide
deli['is_bye'] = is_bye
deli['is_legbye'] = is_legbye

In [15]:
is_four = []
is_six = []
is_bound = []
bound_runs = []

for i in deli['batsman_runs']:
    
    if i == 4 or i == 5:
        is_four.append(1)
        is_six.append(0)
        is_bound.append(1)
        bound_runs.append(i)
    elif i == 6 or i == 7:
        is_four.append(0)
        is_six.append(1)
        is_bound.append(1)
        bound_runs.append(i)
    else:
        is_four.append(0)
        is_six.append(0)
        is_bound.append(0)
        bound_runs.append(0)
        
is_dot1 = []
is_dot2 = []
for i in deli['batsman_runs']:
    if i == 0 :  
        is_dot1.append(1)
    else:
        is_dot1.append(0)

for i,j in deli[['batsman_runs','is_bye','is_legbye']].iterrows():
    if j[0] == 0 or j[1] == 1 or j[2] == 1:  
        is_dot2.append(1)
    else:
        is_dot2.append(0)

      
deli['is_four'] = is_four
deli['is_six'] = is_six  
deli['is_bound'] = is_bound
deli['bound_runs'] = bound_runs  
deli['is_dot_1'] = is_dot1 
deli['is_dot_2'] = is_dot2

##### Adding year column to deliveries

In [16]:
match_id = deli['match_id'].values.tolist()
year = []
for i in match_id:
    y = match[match['id']==i]['season'].values.tolist()
    year.append(y[0])
deli['year'] = year

## Functions

##### Head to Head and last 3 years

In [17]:
def head2head(t1,t2,df = match):
    s1 = (df['team1'] == t1) & (df['team2'] == t2)
    s2 = (df['team1'] == t2) & (df['team2'] == t1)
    head = df.iloc[np.where(s1 | s2)]
    head = head.sort_values(by = 'season').reset_index().drop(['id','index'], axis=1)
    return head

y1 = deli.iloc[np.where(deli['year'] == 2017)[0]]
y2 = deli.iloc[np.where(deli['year'] == 2018)[0]]
y3 = deli.iloc[np.where(deli['year'] == 2019)[0]]
year3 = pd.DataFrame.append(y1,y2, ignore_index=True)
year3 = pd.DataFrame.append(year3,y3, ignore_index=True)
last3years = year3

##### Head to Head Score Function

In [18]:
def head(t1, t2):
  head_to_head = head2head(t1,t2)
  t1_win=0
  t2_win=0
  for i in head_to_head['winner']:
    if i == t1:
      t1_win+=1
    if i == t2:
      t2_win+=1
  t1_arr = []
  t2_arr = []
  year_arr = []
  for i in head_to_head[['season','winner']].iterrows():
      index, year, win = i[0], i[1][0], i[1][1]
      if year in year_arr:
          if win == t1:
              t1_arr[year_arr.index(year)]+=1  
          if win == t2:
              t2_arr[year_arr.index(year)]+=1  
      else:
          year_arr.append(year)
          if win == t1:
              t1_arr.append(1)
              t2_arr.append(0)
          if win == t2:
              t1_arr.append(0)
              t2_arr.append(1)
  win_by_year = pd.DataFrame([t1_arr, t2_arr], columns = year_arr, index = [t1, t2])
  print("Head to Head:",t1,'v/s',t2)
  print(t1+':', t1_win)
  print(t2+':', t2_win) 
  return win_by_year

##### Batsman runs by boundaries in the first n balls

In [19]:
def bat_bound(ba,n,against,df):
    bat_bound_runs = []
    mat = []
    bat = df[df['batsman']==ba]
    if against != '':
        bat= bat[bat['bowling_team']==against]
    for i in bat['match_id'].unique():
        bat_mat = bat[bat['match_id']==i]   
        if n != 0:
            bat_mat = bat_mat.iloc[:n]
        bat_bound_runs.append(bat_mat['bound_runs'].sum())
        mat.append(i)
    df2 = pd.DataFrame(bat_bound_runs, columns = ['runs'])
    print(df2['runs'].value_counts(),'\n')
    print(df2['runs'].describe())

##### Bowler dots to total ball ratio

In [20]:
def dt_tot_ratio(bowl, against, df, col = 0):
    col_name = 'is_dot_1'
    if col != 0:
        col_name = 'is_dot_2'
    df = df[df['bowler']==bowl]
    if against!= '': 
        df = df[df['batting_team']==against]
    dots = []
    total = []
    for i in df['match_id'].unique():
        ball = df[df['match_id']==i]
        total.append(ball['ball'].count())
        dots.append(ball[col_name].sum())
    df2 = pd.DataFrame({'tot_ball':total,'dot_ball':dots})
    df2['ratio'] = df2['dot_ball']/df2['tot_ball']
    count, mean ,median = df2['ratio'].describe()[0], df2['ratio'].describe()[1], df2['ratio'].describe()[5]
    print('Matches Played: ',count,'\tMean: ',np.round_(mean, decimals = 3),'\tMedian: ',np.round_(median, decimals = 3))

##### Overs with 4 and 6 both

In [21]:
def overbound(t1, t2, df):
    newdf = df[((df['batting_team']==t1)&(df['bowling_team']==t2))|((df['batting_team']==t2)&(df['bowling_team']==t1))]
    newdf = newdf.groupby(['match_id','over'], sort = False)[['is_four','is_six']].sum().reset_index()
    newdf = newdf[(newdf['is_four']>=1)&(newdf['is_six']>=1)]
    newdf = newdf.groupby(['match_id'], sort = False)['over'].count().reset_index()
    print(newdf['over'].value_counts(),'\n')
    print(newdf['over'].describe())

##### Bowler lethality score

In [22]:
    def bls_score(name, against, df):
        wick, dot, bound_count, bound_run, tot = [], [], [], [], []
        bdf = df[df['bowler']==name]
        bdf = bdf[bdf['batting_team']==against]
        for i in bdf['match_id'].unique():
            bdf2 = bdf[bdf['match_id']==i]
            wick.append(bdf2.groupby(['match_id'], sort = False)['dismissal_by_bowler'].sum().reset_index()['dismissal_by_bowler'][0])
            dot.append(bdf2.groupby(['match_id'], sort = False)['is_dot_2'].sum().reset_index()['is_dot_2'][0])
            bound_count.append(bdf2.groupby(['match_id'], sort = False)['is_bound'].sum().reset_index()['is_bound'][0])
            bound_run.append(bdf2.groupby(['match_id'], sort = False)['bound_runs'].sum().reset_index()['bound_runs'][0])
            tot.append(bdf2.groupby(['match_id'], sort = False)['ball'].count().reset_index()['ball'][0])
        ndf = pd.DataFrame({'tot_balls':tot,'dot_balls':dot,'bound_count':bound_count,'bound_run':bound_run,'wickets':wick})  
        ndf['BLS'] = np.round_(((ndf['wickets'] + ndf['dot_balls']- (ndf['bound_run']/ndf['bound_count']))/(ndf['tot_balls'])), decimals = 2)
        count, mean ,median = ndf['BLS'].describe()[0], ndf['BLS'].describe()[1], ndf['BLS'].describe()[5]
        print('Matches Played: ',count,'\tMean: ',np.round_(mean, decimals = 3),'\tMedian: ',np.round_(median, decimals = 3))

## Predicting Outputs

In [23]:
bats = 'Q de Kock'
team1, team2 = 'CSK','MI'

In [24]:
head_tab = head(team1, team2)
head_tab

Head to Head: CSK v/s MI
CSK: 11
MI: 17

     2008  2009  2010  2011  2012  2013  2014  2015  2018  2019
CSK     1     1     2     0     1     1     3     1     1     0
MI      1     1     1     1     2     3     0     3     1     4

In [26]:
n=10
print(bats,"runs from boundaries in the first",n,"balls he plays\n")
bat_bound(bats,10,team1,last3years[last3years['batting_team']==team2])

Q de Kock runs from boundaries in the first 10 balls he plays

12    1
4     1
10    1
8     1
Name: runs, dtype: int64

count     4.00000
mean      8.50000
std       3.41565
min       4.00000
25%       7.00000
50%       9.00000
75%      10.50000
max      12.00000
Name: runs, dtype: float64

In [29]:
bowl_list_team2 = ['JJ Bumrah','RD Chahar','TA Boult', 'HH Pandya','KH Pandya','KA Pollard','DS Kulkarni','NM Coulter-Nile']
for bowl in bowl_list_team2:
    print(bowl)
    dt_tot_ratio(bowl, team1, last3years)
    dt_tot_ratio(bowl, team1, last3years, 2)
    print()

JJ Bumrah
Matches Played:  6.0 	Mean:  0.426 	Median:  0.44
Matches Played:  6.0 	Mean:  0.462 	Median:  0.48

RD Chahar
Matches Played:  4.0 	Mean:  0.44 	Median:  0.463
Matches Played:  4.0 	Mean:  0.44 	Median:  0.463

TA Boult
Matches Played:  4.0 	Mean:  0.433 	Median:  0.449
Matches Played:  4.0 	Mean:  0.454 	Median:  0.449

HH Pandya
Matches Played:  6.0 	Mean:  0.406 	Median:  0.401
Matches Played:  6.0 	Mean:  0.419 	Median:  0.401

KH Pandya
Matches Played:  5.0 	Mean:  0.474 	Median:  0.444
Matches Played:  5.0 	Mean:  0.488 	Median:  0.444

KA Pollard
Matches Played:  0.0 	Mean:  nan 	Median:  nan
Matches Played:  0.0 	Mean:  nan 	Median:  nan

DS Kulkarni
Matches Played:  2.0 	Mean:  0.536 	Median:  0.536
Matches Played:  2.0 	Mean:  0.536 	Median:  0.536

NM Coulter-Nile
Matches Played:  0.0 	Mean:  nan 	Median:  nan
Matches Played:  0.0 	Mean:  nan 	Median:  nan

In [30]:
print("ALL TIME: ")
overbound(team1, team2, deli)
print("\nLAST 3 YEARS:")
overbound(team1, team2, last3years)

ALL TIME:
5     7
6     5
7     4
9     3
3     3
11    2
10    1
8     1
4     1
2     1
Name: over, dtype: int64

count    28.00000
mean      6.25000
std       2.38242
min       2.00000
25%       5.00000
50%       6.00000
75%       7.25000
max      11.00000
Name: over, dtype: float64

LAST 3 YEARS:
7    2
5    2
3    1
9    1
Name: over, dtype: int64

count    6.000000
mean     6.000000
std      2.097618
min      3.000000
25%      5.000000
50%      6.000000
75%      7.000000
max      9.000000
Name: over, dtype: float64

In [31]:
for bowl in bowl_list_team2:
    print(bowl)
    bls_score(bowl, team1, deli)
    bls_score(bowl, team1, last3years)
    print()

JJ Bumrah
Matches Played:  8.0 	Mean:  0.29 	Median:  0.255
Matches Played:  6.0 	Mean:  0.313 	Median:  0.305

RD Chahar
Matches Played:  4.0 	Mean:  0.27 	Median:  0.27
Matches Played:  4.0 	Mean:  0.27 	Median:  0.27

TA Boult
Matches Played:  6.0 	Mean:  0.263 	Median:  0.28
Matches Played:  4.0 	Mean:  0.278 	Median:  0.28

HH Pandya
Matches Played:  6.0 	Mean:  0.217 	Median:  0.21
Matches Played:  5.0 	Mean:  0.212 	Median:  0.18

KH Pandya
Matches Played:  4.0 	Mean:  0.25 	Median:  0.22
Matches Played:  4.0 	Mean:  0.25 	Median:  0.22

KA Pollard
Matches Played:  12.0 	Mean:  0.036 	Median:  0.095
Matches Played:  0.0 	Mean:  nan 	Median:  nan

DS Kulkarni
Matches Played:  7.0 	Mean:  0.351 	Median:  0.32
Matches Played:  2.0 	Mean:  0.325 	Median:  0.325

NM Coulter-Nile
Matches Played:  1.0 	Mean:  0.52 	Median:  0.52
Matches Played:  0.0 	Mean:  nan 	Median:  nan

In [32]:
bowl_list_team1 = ['DL Chahar','RA Jadega','SR Watson','S Curran','SN Thakur','L Ngidi','Imran Tahir', 'PP Chawla']
for bowl in bowl_list_team1:
    print(bowl)
    bls_score(bowl, team2, deli)
    bls_score(bowl, team2, last3years)
    print()

DL Chahar
Matches Played:  7.0 	Mean:  0.307 	Median:  0.33
Matches Played:  7.0 	Mean:  0.307 	Median:  0.33

RA Jadega
Matches Played:  0.0 	Mean:  nan 	Median:  nan
Matches Played:  0.0 	Mean:  nan 	Median:  nan

SR Watson
Matches Played:  15.0 	Mean:  0.24 	Median:  0.28
Matches Played:  3.0 	Mean:  0.21 	Median:  0.17

S Curran
Matches Played:  1.0 	Mean:  0.1 	Median:  0.1
Matches Played:  1.0 	Mean:  0.1 	Median:  0.1

SN Thakur
Matches Played:  5.0 	Mean:  0.204 	Median:  0.19
Matches Played:  5.0 	Mean:  0.204 	Median:  0.19

L Ngidi
Matches Played:  0.0 	Mean:  nan 	Median:  nan
Matches Played:  0.0 	Mean:  nan 	Median:  nan

Imran Tahir
Matches Played:  13.0 	Mean:  0.156 	Median:  0.17
Matches Played:  8.0 	Mean:  0.169 	Median:  0.19

PP Chawla
Matches Played:  18.0 	Mean:  0.186 	Median:  0.17
Matches Played:  4.0 	Mean:  0.2 	Median:  0.19