##### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Importing Data

In [2]:
deli = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/deliveries.csv")
match = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/matches.csv")

In [3]:
print("Deliveries:",deli.shape)
deli.head()

Deliveries: (179078, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
print("Matches:",match.shape)
match.head()

Matches: (756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [6]:
match.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

### Data Preprocessing

##### Seeing the unique values in some of the columns

In [7]:
for (columnName, columnData) in deli[['inning','batting_team','over','ball','is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs','dismissal_kind']].iteritems(): 
    print('Deliveries - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n') 
print("\n---------------------------------\n")
for (columnName, columnData) in match[['season','city','team1','toss_decision','result','dl_applied','venue']].iteritems(): 
    print('Matches - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n')

Deliveries - Colunm Name: inning
Unique Values: [1 2 3 4 5]

Deliveries - Colunm Name: batting_team
Unique Values: ['Sunrisers Hyderabad' 'Royal Challengers Bangalore' 'Mumbai Indians'
 'Rising Pune Supergiant' 'Gujarat Lions' 'Kolkata Knight Riders'
 'Kings XI Punjab' 'Delhi Daredevils' 'Chennai Super Kings'
 'Rajasthan Royals' 'Deccan Chargers' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Delhi Capitals']

Deliveries - Colunm Name: over
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Deliveries - Colunm Name: ball
Unique Values: [1 2 3 4 5 6 7 8 9]

Deliveries - Colunm Name: is_super_over
Unique Values: [0 1]

Deliveries - Colunm Name: wide_runs
Unique Values: [0 2 1 5 3 4]

Deliveries - Colunm Name: bye_runs
Unique Values: [0 1 4 2 3]

Deliveries - Colunm Name: legbye_runs
Unique Values: [0 1 2 5 3 4]

Deliveries - Colunm Name: noball_runs
Unique Values: [0 1 2 5 3]

Deliveries - Colunm Name: penalty_runs
Unique Values: [0 5]

Deliveries - Colunm Name: batsman_runs
Unique Values: [0 4 1 6 3 2 5 7]

Deliveries - Colunm Name: extra_runs
Unique Values: [0 2 1 4 5 3 7]

Deliveries - Colunm Name: total_runs
Unique Values: [ 0  4  2  1  6  3  5  7 10  8]

Deliveries - Colunm Name: dismissal_kind
Unique Values: [nan 'caught' 'bowled' 'run out' 'lbw' 'caught and bowled' 'stumped'
 'retired hurt' 'hit wicket' 'obstructing the field']


---------------------------------

Matches - Colunm Name: season
Unique Values: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016 2018 2019]

Matches - Colunm Name: city
Unique Values: ['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' nan
 'Mohali' 'Bengaluru']

Matches - Colunm Name: team1
Unique Values: ['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

Matches - Colunm Name: toss_decision
Unique Values: ['field' 'bat']

Matches - Colunm Name: result
Unique Values: ['normal' 'tie' 'no result']

Matches - Colunm Name: dl_applied
Unique Values: [0 1]

Matches - Colunm Name: venue
Unique Values: ['Rajiv Gandhi International Stadium, Uppal'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla' 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Green Park' 'Punjab Cricket Association Stadium, Mohali'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'M. A. Chidambaram Stadium' 'Feroz Shah Kotla Ground'
 'M. Chinnaswamy Stadium' 'Rajiv Gandhi Intl. Cricket Stadium'
 'IS Bindra Stadium' 'ACA-VDCA Stadium']

##### Shortening and Changing similiar names for easier understanding

In [8]:
old = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']
new = ['SRH', 'RCB', 'MI', 'RPS', 'GUJ', 'KKR', 'KXIP', 'DC', 'CSK', 'RR', 'SRH', 'KOCHI', 'PUNE', 'RPS', 'DC']
deli = deli.replace(old, new )
match = match.replace(old, new)

print(deli['batting_team'].unique(), "Size:",deli['batting_team'].unique().shape[0],'\n')
print(match['team1'].unique(), "Size:",match['team1'].unique().shape[0])

['SRH' 'RCB' 'MI' 'RPS' 'GUJ' 'KKR' 'KXIP' 'DC' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

['SRH' 'MI' 'GUJ' 'RPS' 'RCB' 'KKR' 'DC' 'KXIP' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

In [9]:
new_stad = ['Rajiv Gandhi International Stadium',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
 'Green Park', 'Punjab Cricket Association IS Bindra Stadium',
 'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi International Stadium',
 'Punjab Cricket Association IS Bindra Stadium', 'ACA-VDCA Stadium'] 
 
old_stad = ['Rajiv Gandhi International Stadium, Uppal',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Green Park', 'Punjab Cricket Association Stadium, Mohali',
 'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium, Motera', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
 'IS Bindra Stadium', 'ACA-VDCA Stadium'] 

match = match.replace(old_stad, new_stad) 
match['venue'].unique()

array(['Rajiv Gandhi International Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
       'Green Park', 'Sawai Mansingh Stadium',
       'M. A. Chidambaram Stadium', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium', 'Sardar Patel Stadium',
       'Barabati Stadium', 'Vidarbha Cricket Association Stadium',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Cricket Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'ACA-VDCA Stadium'], dtype=object)

In [10]:
old_diss = [None, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled', 'stumped',
 'retired hurt', 'hit wicket', 'obstructing the field']
new_diss = ["0","1","1","0","1","1","1","0","1","0"]
new_diss2 = ["0","1","1","1","1","1","1","1","1","1"]
deli['dismissal_by_bowler'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['dismissal_by_bowler'] = deli['dismissal_by_bowler'].astype(int)
deli['is_out'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['is_out'] = deli['is_out'].astype(int)
deli.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder,dismissal_by_bowler,is_out
0,1,1,SRH,RCB,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
1,1,1,SRH,RCB,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
2,1,1,SRH,RCB,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,4,0,4,NaN,NaN,NaN,0,0
3,1,1,SRH,RCB,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,NaN,NaN,NaN,0,0
4,1,1,SRH,RCB,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,2,2,NaN,NaN,NaN,0,0

##### Removing data of matches that were not played

In [11]:
match.iloc[np.where(match['winner'].isnull() == True)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [12]:
print(match.shape)
no_res = np.where(match['result'] == 'no result')[0]
match.iloc[no_res]

(756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [13]:
for i in no_res:
    id = match.iloc[i]['id']
    a = np.where(deli['match_id'] == id)[0]
    deli = deli.drop(a).reset_index().drop(['index'], axis=1)

match = match.drop(no_res).reset_index().drop(['index'], axis=1)

#### Adding is_four and is_six column

In [14]:
is_four = []
is_six = []
for i in deli['batsman_runs']:
    if i == 4 or i == 5:
        is_four.append(1)
        is_six.append(0)
    elif i == 6 or i == 7:
        is_four.append(0)
        is_six.append(1)
    else:
      is_four.append(0)
      is_six.append(0)
      
deli['is_four'] = is_four
deli['is_six'] = is_six

In [15]:
is_no = []
is_wide = []
is_bye = []
is_legbye = []
for i in deli['noball_runs']:
    if i != 0:
        is_no.append(1)
    else:
        is_no.append(0)

for i in deli['wide_runs']:
    if i != 0:
        is_wide.append(1)
    else:
        is_wide.append(0)
    
for i in deli['bye_runs']:
    if i != 0:
        is_bye.append(1)
    else:
        is_bye.append(0)
    
for i in deli['legbye_runs']:
    if i != 0:
        is_legbye.append(1)
    else:
        is_legbye.append(0)
    
deli['is_no'] = is_no
deli['is_wide'] = is_wide
deli['is_bye'] = is_bye
deli['is_legbye'] = is_legbye

##### Adding year column to deliveries

In [16]:
match_id = deli['match_id'].values.tolist()
year = []
for i in match_id:
    y = match[match['id']==i]['season'].values.tolist()
    year.append(y[0])
deli['year'] = year

## Functions

##### Head to Head and last 3 years

In [17]:
def head2head(t1,t2,df = match):
    s1 = (df['team1'] == t1) & (df['team2'] == t2)
    s2 = (df['team1'] == t2) & (df['team2'] == t1)
    head = df.iloc[np.where(s1 | s2)]
    head = head.sort_values(by = 'season').reset_index().drop(['id','index'], axis=1)
    return head

def last3years():
    y1 = deli.iloc[np.where(deli['year'] == 2017)[0]]
    y2 = deli.iloc[np.where(deli['year'] == 2018)[0]]
    y3 = deli.iloc[np.where(deli['year'] == 2019)[0]]
    year3 = pd.DataFrame.append(y1,y2, ignore_index=True)
    year3 = pd.DataFrame.append(year3,y3, ignore_index=True)
    return year3

##### Head to Head Score Function

In [18]:
def head(t1, t2):
  head_to_head = head2head(t1,t2)
  t1_win=0
  t2_win=0
  for i in head_to_head['winner']:
    if i == t1:
      t1_win+=1
    if i == t2:
      t2_win+=1
  t1_arr = []
  t2_arr = []
  year_arr = []
  for i in head_to_head[['season','winner']].iterrows():
      index, year, win = i[0], i[1][0], i[1][1]
      if year in year_arr:
          if win == t1:
              t1_arr[year_arr.index(year)]+=1  
          if win == t2:
              t2_arr[year_arr.index(year)]+=1  
      else:
          year_arr.append(year)
          if win == t1:
              t1_arr.append(1)
              t2_arr.append(0)
          if win == t2:
              t1_arr.append(0)
              t2_arr.append(1)
  win_by_year = pd.DataFrame([t1_arr, t2_arr], columns = year_arr, index = [t1, t2])
  print("Head to Head:",t1,'v/s',t2)
  print(t1+':', t1_win)
  print(t2+':', t2_win) 
  return win_by_year

##### Batsman Strike rate

In [19]:
def srateDef(name, against, df):
    batsman = df[df['batsman'] == name]
    batsman = batsman[batsman['over']<=6]
    runsdf = batsman[['match_id','batsman_runs','ball']]
    runs = runsdf.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()
    num_balls = runsdf.groupby(['match_id'], sort = False)['ball'].count().reset_index()
    blist = num_balls['ball'].values.tolist()
    rlist = runs['batsman_runs'].values.tolist()
    df2 = pd.DataFrame({'ball':blist,'runs':rlist})
    df2['rate'] = df2['runs']/df2['ball'] * 100
    tot_mat = df2['rate'].describe()[0]
    mean ,median = runs['batsman_runs'].describe()[1], runs['batsman_runs'].describe()[5]
    print(df2['rate'].describe(),'\n')
    if against != '':
        batsman_ag =  batsman[batsman['bowling_team']==against]
        runsdf = batsman_ag[['match_id','batsman_runs','ball']]
        runs = runsdf.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()
        num_balls = runsdf.groupby(['match_id'], sort = False)['ball'].count().reset_index()
        blist = num_balls['ball'].values.tolist()
        rlist = runs['batsman_runs'].values.tolist()
        df2 = pd.DataFrame({'ball':blist,'runs':rlist})
        df2['rate'] = df2['runs']/df2['ball'] * 100
        tot_mat = df2['rate'].describe()[0]
        mean ,median = runs['batsman_runs'].describe()[1], runs['batsman_runs'].describe()[5]
        print(df2['rate'].describe(),'\n')
        print(df2['rate'].value_counts())

##### Total score by team

In [20]:
def tot_runs_team(t1,t2, df = deli):
    df1 = df[df['batting_team'] == t1]
    df1 = df1[df1['bowling_team'] == t2]
    tot_run = df1.groupby(['match_id'], sort = False)['total_runs'].sum().reset_index()    
    print(tot_run['total_runs'].describe())
    print(tot_run['total_runs'].sort_values().values)

##### Batsman contribution in total score

In [21]:
def bat_cont(bat,t1, against, df):
    new_df = df[df['batting_team']==t1]
    edf = new_df[new_df['bowling_team'] == t1]
    bat_df = new_df[new_df['batsman']==bat]
    for i in bat_df['match_id'].unique():
        edf = pd.DataFrame.append(edf,new_df.iloc[np.where(new_df['match_id'] == i)])
    edf = edf.reset_index().drop(['index'],axis = 1)
    if against != '':
        edf = edf[edf['bowling_team'] == against]
    bat_df = edf[edf['batsman']=='SS Iyer']
    tot_df = edf
    bat_runs = bat_df.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()
    tot_runs = tot_df.groupby(['match_id'], sort = False)['total_runs'].sum().reset_index()
    blist = bat_runs['batsman_runs'].values.tolist()
    rlist = tot_runs['total_runs'].values.tolist()
    df2 = pd.DataFrame({'bat_runs':blist,'tot_runs':rlist})
    df2['percentage'] = df2['bat_runs']/df2['tot_runs'] *100
    print(df2['percentage'].describe(),'\n')

##### Wickets by team

In [22]:
def wicket(t1, not_b, df):
    new_df = df[df['bowling_team']==t1]
    not_df = new_df[new_df['bowler']==not_b]
    for i in not_df['match_id'].unique():
        not_df = pd.DataFrame.append(not_df,new_df.iloc[np.where(new_df['match_id'] == i)])
    not_df = not_df[not_df['bowler']!=not_b]
    not_df = not_df[(not_df['over']>=5)&(not_df['over']<=20)]
    tot_wick = not_df.groupby(['match_id'], sort = False)['dismissal_by_bowler'].sum()
    print(tot_wick.describe(),'\n')
    print(tot_wick.value_counts(),'\n\n')

## Predicting Outputs

In [23]:
bowler = 'Mohammed Shami'
batsman = 'KL Rahul'
team1, team2 = 'KXIP','DC'

In [24]:
# Who will win the match?
head_tab = head(team1, team2)
head_tab

Head to Head: KXIP v/s DC
KXIP: 14
DC: 10

      2008  2009  2010  2011  2012  2013  2014  2015  2016  2017  2018  2019
KXIP     2     1     1     1     0     2     2     0     1     1     2     1
DC       0     1     1     1     2     0     0     2     1     1     0     1

In [25]:
# What will KL Rahul's strike rate be in the first 6 overs

print("ALL TIME: ")
srateDef(batsman, team2, deli)
print("\nLAST 3 YEARS:")
srateDef(batsman, team2, last3years())

ALL TIME:
count     47.000000
mean     121.201499
std       63.767111
min        0.000000
25%       88.461538
50%      115.000000
75%      157.916667
max      318.750000
Name: rate, dtype: float64

count      6.000000
mean     173.630051
std       78.231868
min      100.000000
25%      134.090909
50%      144.848485
75%      188.333333
max      318.750000
Name: rate, dtype: float64

133.333333    1
153.333333    1
136.363636    1
318.750000    1
200.000000    1
100.000000    1
Name: rate, dtype: int64

LAST 3 YEARS:
count     28.000000
mean     132.635433
std       69.225714
min       20.000000
25%       93.665158
50%      125.490196
75%      164.375000
max      318.750000
Name: rate, dtype: float64

count      4.000000
mean     185.445076
std       89.304700
min      133.333333
25%      135.606061
50%      144.848485
75%      194.687500
max      318.750000
Name: rate, dtype: float64

133.333333    1
153.333333    1
136.363636    1
318.750000    1
Name: rate, dtype: int64

In [26]:
(133.33 + 153.33 + 136.3636)/3

141.00786666666667

In [28]:
# What will be Shreyas Iyer's contribution to DC's total score?

batsman = 'SS Iyer'
print('ALL TIME =>')
bat_cont('SS Iyer',team2, '', deli)
print("LAST 3 YEARS =>")
bat_cont('SS Iyer',team2, '', last3years())
print('\nAGAINST',team1, '=>')
print('ALL TIME =>')
bat_cont('SS Iyer',team2,team1, deli)
print("LAST 3 YEARS =>")
bat_cont('SS Iyer',team2,team1, last3years())

ALL TIME =>
count    60.000000
mean     17.202464
std      15.235806
min       0.000000
25%       4.651989
50%      12.092732
75%      27.196501
max      58.333333
Name: percentage, dtype: float64

LAST 3 YEARS =>
count    41.000000
mean     17.897381
std      13.865765
min       1.578947
25%       6.310680
50%      13.705584
75%      27.956989
max      48.730964
Name: percentage, dtype: float64


AGAINST KXIP =>
ALL TIME =>
count     9.000000
mean     19.095131
std      16.331431
min       2.654867
25%       7.558140
50%      11.702128
75%      34.463277
max      45.378151
Name: percentage, dtype: float64

LAST 3 YEARS =>
count     6.000000
mean     20.045478
std      13.605770
min       7.558140
25%       9.641950
50%      15.053518
75%      30.448685
max      39.189189
Name: percentage, dtype: float64

In [27]:
# How many wickets will be taken by KXIP bowlers excluding that taken by Mohammed Shami, from the 31st ball to the 120th ball?
wicket(team1, bowler, deli)

count    14.000000
mean      3.285714
std       1.938619
min       0.000000
25%       2.000000
50%       3.000000
75%       4.750000
max       7.000000
Name: dismissal_by_bowler, dtype: float64

3    4
2    3
5    2
7    1
6    1
4    1
1    1
0    1
Name: dismissal_by_bowler, dtype: int64

In [29]:
# What will be status of Chris Gayle's batting during KXIP's innings?
chris_df = deli[((deli['batsman']=='CH Gayle')|(deli['non_striker']=='CH Gayle'))&(deli['batting_team']==team1)]
chris_df = chris_df[chris_df['is_out']== 1]
chris_df[['batsman','non_striker','dismissal_kind']]

           batsman    non_striker dismissal_kind
152753    KL Rahul       CH Gayle         caught
152774    CH Gayle     MA Agarwal         caught
153704    KL Rahul       CH Gayle            lbw
153720  MA Agarwal       CH Gayle         caught
153766     KK Nair       CH Gayle         caught
154342    KL Rahul       CH Gayle         caught
155982    KL Rahul       CH Gayle         bowled
155985    CH Gayle     MA Agarwal         caught
157995    KL Rahul       CH Gayle         caught
158027    CH Gayle   Yuvraj Singh         caught
159061    CH Gayle       KL Rahul         caught
160529    CH Gayle       KL Rahul         caught
161376    KL Rahul       CH Gayle         caught
161379    CH Gayle        KK Nair         caught
161867    CH Gayle       KL Rahul         caught
163210    CH Gayle       KL Rahul         caught
165136    KL Rahul       CH Gayle         caught
165189  MA Agarwal       CH Gayle         caught
165233    CH Gayle        SN Khan         caught
165764    KL Rahul       CH Gayle         caught
165782    CH Gayle     MA Agarwal         caught
166541    CH Gayle       KL Rahul         caught
168730    CH Gayle       KL Rahul         caught
169674    CH Gayle       KL Rahul         caught
170090    CH Gayle       KL Rahul         caught
171027    KL Rahul       CH Gayle        stumped
171042  MA Agarwal       CH Gayle         bowled
171069     SN Khan       CH Gayle         caught
171074    S Curran       CH Gayle            lbw
171995    CH Gayle       KL Rahul         caught
173186    KL Rahul       CH Gayle        stumped
173205  MA Agarwal       CH Gayle         caught
173219   DA Miller       CH Gayle         caught
173250    CH Gayle  Mandeep Singh         caught
174519    CH Gayle       KL Rahul         caught
175978    CH Gayle       KL Rahul         caught
176577    KL Rahul       CH Gayle         caught
176587    CH Gayle     MA Agarwal         caught
177454    KL Rahul       CH Gayle         caught
177455    CH Gayle       N Pooran         caught

In [30]:
chris_out_df = chris_df[chris_df['batsman']=='CH Gayle']
chris_out_df[['batsman','non_striker','dismissal_kind']]

         batsman    non_striker dismissal_kind
152774  CH Gayle     MA Agarwal         caught
155985  CH Gayle     MA Agarwal         caught
158027  CH Gayle   Yuvraj Singh         caught
159061  CH Gayle       KL Rahul         caught
160529  CH Gayle       KL Rahul         caught
161379  CH Gayle        KK Nair         caught
161867  CH Gayle       KL Rahul         caught
163210  CH Gayle       KL Rahul         caught
165233  CH Gayle        SN Khan         caught
165782  CH Gayle     MA Agarwal         caught
166541  CH Gayle       KL Rahul         caught
168730  CH Gayle       KL Rahul         caught
169674  CH Gayle       KL Rahul         caught
170090  CH Gayle       KL Rahul         caught
171995  CH Gayle       KL Rahul         caught
173250  CH Gayle  Mandeep Singh         caught
174519  CH Gayle       KL Rahul         caught
175978  CH Gayle       KL Rahul         caught
176587  CH Gayle     MA Agarwal         caught
177455  CH Gayle       N Pooran         caught

In [31]:
n1 = chris_out_df['match_id'].unique()
print(n1)
print(n1.shape)

[ 7905  7918  7927  7931  7937  7941  7943  7949 11140 11142 11145 11309
 11313 11315 11323 11328 11333 11339 11343 11346]
(20,)

In [32]:
chris_all_df = deli[((deli['batsman']=='CH Gayle')|(deli['non_striker']=='CH Gayle'))&(deli['batting_team']==team1)]
n2 = chris_all_df['match_id'].unique()
print(n2)
print(n2.shape)

[ 7905  7909  7911  7918  7927  7931  7933  7937  7941  7943  7949 11140
 11142 11145 11309 11313 11315 11319 11323 11328 11333 11339 11343 11346]
(24,)

In [33]:
n3 = []
for i in n2:
    if i not in n1:
        n3.append(i)
n3

[7909, 7911, 7933, 11319]

In [34]:
c_out = deli[deli['batsman']=='']
for i in n1:
    c_out = pd.DataFrame.append(c_out,deli.iloc[np.where(deli['match_id']==i)])
c_out = c_out[c_out['batting_team']==team1]
c_out

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,fielder,dismissal_by_bowler,is_out,is_four,is_six,is_no,is_wide,is_bye,is_legbye,year
152705,7905,1,KXIP,CSK,1,1,KL Rahul,CH Gayle,DL Chahar,0,...,NaN,0,0,0,0,0,0,0,0,2018
152706,7905,1,KXIP,CSK,1,2,KL Rahul,CH Gayle,DL Chahar,0,...,NaN,0,0,1,0,0,0,0,0,2018
152707,7905,1,KXIP,CSK,1,3,KL Rahul,CH Gayle,DL Chahar,0,...,NaN,0,0,0,0,0,0,0,0,2018
152708,7905,1,KXIP,CSK,1,4,KL Rahul,CH Gayle,DL Chahar,0,...,NaN,0,0,0,0,0,0,0,0,2018
152709,7905,1,KXIP,CSK,1,5,KL Rahul,CH Gayle,DL Chahar,0,...,NaN,0,0,0,0,0,0,0,0,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177497,11346,2,KXIP,CSK,18,3,S Curran,Mandeep Singh,Imran Tahir,0,...,NaN,0,0,0,0,0,0,0,0,2019
177498,11346,2,KXIP,CSK,18,4,S Curran,Mandeep Singh,Imran Tahir,0,...,NaN,0,0,0,0,0,0,0,0,2019
177499,11346,2,KXIP,CSK,18,5,Mandeep Singh,S Curran,Imran Tahir,0,...,NaN,0,0,0,0,0,0,0,0,2019
177500,11346,2,KXIP,CSK,17,6,Mandeep Singh,S Curran,RA Jadeja,0,...,NaN,0,0,0,0,0,0,0,0,2019
177501,11346,2,KXIP,CSK,18,6,S Curran,Mandeep Singh,Imran Tahir,0,...,NaN,0,0,1,0,0,0,0,0,2019

In [35]:
c_notout = deli[deli['batsman']=='']
for i in n3:
    c_notout = pd.DataFrame.append(c_notout,deli.iloc[np.where(deli['match_id']==i)])
c_notout = c_notout[c_notout['batting_team']==team1]

In [36]:
batsman = 'CH Gayle'
print("TIMES CHRIS GAYLE HAS GOT OUT:")
srateDef(batsman, team2, c_out)
print("\nTIMES CHRIS GAYLE HAS NOT GOT OUT:")
srateDef(batsman, team2, c_notout)

TIMES CHRIS GAYLE HAS GOT OUT:
count     20.000000
mean     126.105551
std       53.933882
min        0.000000
25%       93.750000
50%      130.952381
75%      156.818182
max      218.181818
Name: rate, dtype: float64

count      1.000000
mean     188.235294
std             NaN
min      188.235294
25%      188.235294
50%      188.235294
75%      188.235294
max      188.235294
Name: rate, dtype: float64

188.235294    1
Name: rate, dtype: int64

TIMES CHRIS GAYLE HAS NOT GOT OUT:
count      4.000000
mean     160.367693
std       45.309343
min      100.000000
25%      144.318182
50%      166.387560
75%      182.437071
max      208.695652
Name: rate, dtype: float64

count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: rate, dtype: float64

Series([], Name: rate, dtype: int64)