##### Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np

##### Importing Data

In [2]:
deli = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/deliveries.csv")
match = pd.read_csv("https://raw.githubusercontent.com/shashwatk1/IPL_Data_Analysis/main/data/matches.csv")

In [3]:
print("Deliveries:",deli.shape)
deli.head()

Deliveries: (179078, 21)

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
print("Matches:",match.shape)
match.head()

Matches: (756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
deli.dtypes

match_id             int64
inning               int64
batting_team        object
bowling_team        object
over                 int64
ball                 int64
batsman             object
non_striker         object
bowler              object
is_super_over        int64
wide_runs            int64
bye_runs             int64
legbye_runs          int64
noball_runs          int64
penalty_runs         int64
batsman_runs         int64
extra_runs           int64
total_runs           int64
player_dismissed    object
dismissal_kind      object
fielder             object
dtype: object

In [6]:
match.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

### Data Preprocessing

##### Seeing the unique values in some of the columns

In [7]:
for (columnName, columnData) in deli[['inning','batting_team','over','ball','is_super_over','wide_runs','bye_runs','legbye_runs','noball_runs','penalty_runs','batsman_runs','extra_runs','total_runs','dismissal_kind']].iteritems(): 
    print('Deliveries - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n') 
print("\n---------------------------------\n")
for (columnName, columnData) in match[['season','city','team1','toss_decision','result','dl_applied','venue']].iteritems(): 
    print('Matches - Colunm Name:', columnName) 
    print('Unique Values:', pd.Series(columnData.values).unique(),'\n')

Deliveries - Colunm Name: inning
Unique Values: [1 2 3 4 5]

Deliveries - Colunm Name: batting_team
Unique Values: ['Sunrisers Hyderabad' 'Royal Challengers Bangalore' 'Mumbai Indians'
 'Rising Pune Supergiant' 'Gujarat Lions' 'Kolkata Knight Riders'
 'Kings XI Punjab' 'Delhi Daredevils' 'Chennai Super Kings'
 'Rajasthan Royals' 'Deccan Chargers' 'Kochi Tuskers Kerala'
 'Pune Warriors' 'Rising Pune Supergiants' 'Delhi Capitals']

Deliveries - Colunm Name: over
Unique Values: [ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20]

Deliveries - Colunm Name: ball
Unique Values: [1 2 3 4 5 6 7 8 9]

Deliveries - Colunm Name: is_super_over
Unique Values: [0 1]

Deliveries - Colunm Name: wide_runs
Unique Values: [0 2 1 5 3 4]

Deliveries - Colunm Name: bye_runs
Unique Values: [0 1 4 2 3]

Deliveries - Colunm Name: legbye_runs
Unique Values: [0 1 2 5 3 4]

Deliveries - Colunm Name: noball_runs
Unique Values: [0 1 2 5 3]

Deliveries - Colunm Name: penalty_runs
Unique Values: [0 5]

Deliveries - Colunm Name: batsman_runs
Unique Values: [0 4 1 6 3 2 5 7]

Deliveries - Colunm Name: extra_runs
Unique Values: [0 2 1 4 5 3 7]

Deliveries - Colunm Name: total_runs
Unique Values: [ 0  4  2  1  6  3  5  7 10  8]

Deliveries - Colunm Name: dismissal_kind
Unique Values: [nan 'caught' 'bowled' 'run out' 'lbw' 'caught and bowled' 'stumped'
 'retired hurt' 'hit wicket' 'obstructing the field']


---------------------------------

Matches - Colunm Name: season
Unique Values: [2017 2008 2009 2010 2011 2012 2013 2014 2015 2016 2018 2019]

Matches - Colunm Name: city
Unique Values: ['Hyderabad' 'Pune' 'Rajkot' 'Indore' 'Bangalore' 'Mumbai' 'Kolkata'
 'Delhi' 'Chandigarh' 'Kanpur' 'Jaipur' 'Chennai' 'Cape Town'
 'Port Elizabeth' 'Durban' 'Centurion' 'East London' 'Johannesburg'
 'Kimberley' 'Bloemfontein' 'Ahmedabad' 'Cuttack' 'Nagpur' 'Dharamsala'
 'Kochi' 'Visakhapatnam' 'Raipur' 'Ranchi' 'Abu Dhabi' 'Sharjah' nan
 'Mohali' 'Bengaluru']

Matches - Colunm Name: team1
Unique Values: ['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions'
 'Rising Pune Supergiant' 'Royal Challengers Bangalore'
 'Kolkata Knight Riders' 'Delhi Daredevils' 'Kings XI Punjab'
 'Chennai Super Kings' 'Rajasthan Royals' 'Deccan Chargers'
 'Kochi Tuskers Kerala' 'Pune Warriors' 'Rising Pune Supergiants'
 'Delhi Capitals']

Matches - Colunm Name: toss_decision
Unique Values: ['field' 'bat']

Matches - Colunm Name: result
Unique Values: ['normal' 'tie' 'no result']

Matches - Colunm Name: dl_applied
Unique Values: [0 1]

Matches - Colunm Name: venue
Unique Values: ['Rajiv Gandhi International Stadium, Uppal'
 'Maharashtra Cricket Association Stadium'
 'Saurashtra Cricket Association Stadium' 'Holkar Cricket Stadium'
 'M Chinnaswamy Stadium' 'Wankhede Stadium' 'Eden Gardens'
 'Feroz Shah Kotla' 'Punjab Cricket Association IS Bindra Stadium, Mohali'
 'Green Park' 'Punjab Cricket Association Stadium, Mohali'
 'Sawai Mansingh Stadium' 'MA Chidambaram Stadium, Chepauk'
 'Dr DY Patil Sports Academy' 'Newlands' "St George's Park" 'Kingsmead'
 'SuperSport Park' 'Buffalo Park' 'New Wanderers Stadium'
 'De Beers Diamond Oval' 'OUTsurance Oval' 'Brabourne Stadium'
 'Sardar Patel Stadium, Motera' 'Barabati Stadium'
 'Vidarbha Cricket Association Stadium, Jamtha'
 'Himachal Pradesh Cricket Association Stadium' 'Nehru Stadium'
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium'
 'Subrata Roy Sahara Stadium'
 'Shaheed Veer Narayan Singh International Stadium'
 'JSCA International Stadium Complex' 'Sheikh Zayed Stadium'
 'Sharjah Cricket Stadium' 'Dubai International Cricket Stadium'
 'M. A. Chidambaram Stadium' 'Feroz Shah Kotla Ground'
 'M. Chinnaswamy Stadium' 'Rajiv Gandhi Intl. Cricket Stadium'
 'IS Bindra Stadium' 'ACA-VDCA Stadium']

##### Shortening and Changing similiar names for easier understanding

In [8]:
old = ['Sunrisers Hyderabad', 'Royal Challengers Bangalore',
       'Mumbai Indians', 'Rising Pune Supergiant', 'Gujarat Lions',
       'Kolkata Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils',
       'Chennai Super Kings', 'Rajasthan Royals', 'Deccan Chargers',
       'Kochi Tuskers Kerala', 'Pune Warriors', 'Rising Pune Supergiants',
       'Delhi Capitals']
new = ['SRH', 'RCB', 'MI', 'RPS', 'GUJ', 'KKR', 'KXIP', 'DC', 'CSK', 'RR', 'SRH', 'KOCHI', 'PUNE', 'RPS', 'DC']
deli = deli.replace(old, new )
match = match.replace(old, new)

print(deli['batting_team'].unique(), "Size:",deli['batting_team'].unique().shape[0],'\n')
print(match['team1'].unique(), "Size:",match['team1'].unique().shape[0])

['SRH' 'RCB' 'MI' 'RPS' 'GUJ' 'KKR' 'KXIP' 'DC' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

['SRH' 'MI' 'GUJ' 'RPS' 'RCB' 'KKR' 'DC' 'KXIP' 'CSK' 'RR' 'KOCHI' 'PUNE'] Size: 12

In [9]:
new_stad = ['Rajiv Gandhi International Stadium',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
 'Green Park', 'Punjab Cricket Association IS Bindra Stadium',
 'Sawai Mansingh Stadium', 'M. A. Chidambaram Stadium',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi International Stadium',
 'Punjab Cricket Association IS Bindra Stadium', 'ACA-VDCA Stadium'] 
 
old_stad = ['Rajiv Gandhi International Stadium, Uppal',
 'Maharashtra Cricket Association Stadium',
 'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
 'M Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
 'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium, Mohali',
 'Green Park', 'Punjab Cricket Association Stadium, Mohali',
 'Sawai Mansingh Stadium', 'MA Chidambaram Stadium, Chepauk',
 'Dr DY Patil Sports Academy', 'Newlands', "St George's Park", 'Kingsmead',
 'SuperSport Park', 'Buffalo Park', 'New Wanderers Stadium',
 'De Beers Diamond Oval', 'OUTsurance Oval', 'Brabourne Stadium',
 'Sardar Patel Stadium, Motera', 'Barabati Stadium',
 'Vidarbha Cricket Association Stadium, Jamtha',
 'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
 'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
 'Subrata Roy Sahara Stadium',
 'Shaheed Veer Narayan Singh International Stadium',
 'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
 'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
 'M. A. Chidambaram Stadium', 'Feroz Shah Kotla Ground',
 'M. Chinnaswamy Stadium', 'Rajiv Gandhi Intl. Cricket Stadium',
 'IS Bindra Stadium', 'ACA-VDCA Stadium'] 

match = match.replace(old_stad, new_stad) 
match['venue'].unique()

array(['Rajiv Gandhi International Stadium',
       'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium', 'Holkar Cricket Stadium',
       'M. Chinnaswamy Stadium', 'Wankhede Stadium', 'Eden Gardens',
       'Feroz Shah Kotla', 'Punjab Cricket Association IS Bindra Stadium',
       'Green Park', 'Sawai Mansingh Stadium',
       'M. A. Chidambaram Stadium', 'Dr DY Patil Sports Academy',
       'Newlands', "St George's Park", 'Kingsmead', 'SuperSport Park',
       'Buffalo Park', 'New Wanderers Stadium', 'De Beers Diamond Oval',
       'OUTsurance Oval', 'Brabourne Stadium', 'Sardar Patel Stadium',
       'Barabati Stadium', 'Vidarbha Cricket Association Stadium',
       'Himachal Pradesh Cricket Association Stadium', 'Nehru Stadium',
       'ACA-VDCA Cricket Stadium', 'Subrata Roy Sahara Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'JSCA International Stadium Complex', 'Sheikh Zayed Stadium',
       'Sharjah Cricket Stadium', 'Dubai International Cricket Stadium',
       'ACA-VDCA Stadium'], dtype=object)

In [10]:
old_diss = [None, 'caught', 'bowled', 'run out', 'lbw', 'caught and bowled', 'stumped',
 'retired hurt', 'hit wicket', 'obstructing the field']
new_diss = ["0","1","1","0","1","1","1","0","1","0"]
new_diss2 = ["0","1","1","1","1","1","1","1","1","1"]
deli['dismissal_by_bowler'] = deli['dismissal_kind'].replace(old_diss, new_diss)
deli['dismissal_by_bowler'] = deli['dismissal_by_bowler'].astype(int)
deli['is_out'] = deli['dismissal_kind'].replace(old_diss, new_diss2)
deli['is_out'] = deli['is_out'].astype(int)
print(deli.groupby(['dismissal_kind'], sort = False)['is_out'].sum().reset_index(),'\n\n')
print(deli.groupby(['dismissal_kind'], sort = False)['dismissal_by_bowler'].sum().reset_index())

          dismissal_kind  is_out
0                 caught    5348
1                 bowled    1581
2                run out     852
3                    lbw     540
4      caught and bowled     211
5                stumped     278
6           retired hurt      12
7             hit wicket      10
8  obstructing the field       2


          dismissal_kind  dismissal_by_bowler
0                 caught                 5348
1                 bowled                 1581
2                run out                    0
3                    lbw                  540
4      caught and bowled                  211
5                stumped                  278
6           retired hurt                    0
7             hit wicket                   10
8  obstructing the field                    0

##### Removing data of matches that were not played

In [11]:
match.iloc[np.where(match['winner'].isnull() == True)]

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [12]:
print(match.shape)
no_res = np.where(match['result'] == 'no result')[0]
match.iloc[no_res]

(756, 18)

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
300,301,2011,Delhi,2011-05-21,DC,PUNE,DC,bat,no result,0,NaN,0,0,NaN,Feroz Shah Kotla,SS Hazare,RJ Tucker,NaN
545,546,2015,Bangalore,2015-04-29,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,JD Cloete,PG Pathak,NaN
570,571,2015,Bangalore,2015-05-17,DC,RCB,RCB,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,HDPK Dharmasena,K Srinivasan,NaN
744,11340,2019,Bengaluru,30/04/19,RCB,RR,RR,field,no result,0,NaN,0,0,NaN,M. Chinnaswamy Stadium,Nigel Llong,Ulhas Gandhe,Anil Chaudhary

In [13]:
for i in no_res:
    id = match.iloc[i]['id']
    a = np.where(deli['match_id'] == id)[0]
    deli = deli.drop(a).reset_index().drop(['index'], axis=1)

match = match.drop(no_res).reset_index().drop(['index'], axis=1)

#### Adding is_four and is_six column

In [14]:
is_no = []
is_wide = []
is_bye = []
is_legbye = []
for i in deli['noball_runs']:
    if i != 0:
        is_no.append(1)
    else:
        is_no.append(0)

for i in deli['wide_runs']:
    if i != 0:
        is_wide.append(1)
    else:
        is_wide.append(0)
    
for i in deli['bye_runs']:
    if i != 0:
        is_bye.append(1)
    else:
        is_bye.append(0)
    
for i in deli['legbye_runs']:
    if i != 0:
        is_legbye.append(1)
    else:
        is_legbye.append(0)
    
deli['is_no'] = is_no
deli['is_wide'] = is_wide
deli['is_bye'] = is_bye
deli['is_legbye'] = is_legbye

In [15]:
is_four = []
is_six = []
is_bound = []
bound_runs = []
not_bound_runs = []

for i in deli['batsman_runs']:
    
    if i == 4 or i == 5:
        is_four.append(1)
        is_six.append(0)
        is_bound.append(1)
        bound_runs.append(i)
        not_bound_runs.append(0)
    elif i == 6 or i == 7:
        is_four.append(0)
        is_six.append(1)
        is_bound.append(1)
        bound_runs.append(i)
        not_bound_runs.append(0)
    else:
        is_four.append(0)
        is_six.append(0)
        is_bound.append(0)
        bound_runs.append(0)
        not_bound_runs.append(i)
        
is_dot = []

for i,j in deli[['batsman_runs','is_bye','is_legbye']].iterrows():
    if j[0] == 0 or j[1] == 1 or j[2] == 1:  
        is_dot.append(1)
    else:
        is_dot.append(0)

      
deli['is_four'] = is_four
deli['is_six'] = is_six  
deli['is_bound'] = is_bound
deli['bound_runs'] = bound_runs  
deli['is_dot'] = is_dot
deli['norm_runs'] = not_bound_runs

##### Adding year column to deliveries

In [16]:
match_id = deli['match_id'].values.tolist()
year = []
for i in match_id:
    y = match[match['id']==i]['season'].values.tolist()
    year.append(y[0])
deli['year'] = year

## Functions

##### Head to Head and last 3 years

In [17]:
def head2head(t1,t2,df = match):
    s1 = (df['team1'] == t1) & (df['team2'] == t2)
    s2 = (df['team1'] == t2) & (df['team2'] == t1)
    head = df.iloc[np.where(s1 | s2)]
    head = head.sort_values(by = 'season').reset_index().drop(['id','index'], axis=1)
    return head

y1 = deli.iloc[np.where(deli['year'] == 2017)[0]]
y2 = deli.iloc[np.where(deli['year'] == 2018)[0]]
y3 = deli.iloc[np.where(deli['year'] == 2019)[0]]
year3 = pd.DataFrame.append(y1,y2, ignore_index=True)
last3years = pd.DataFrame.append(year3,y3, ignore_index=True)

##### Head to Head Score Function

In [18]:
def head(t1, t2):
  head_to_head = head2head(t1,t2)
  t1_win=0
  t2_win=0
  for i in head_to_head['winner']:
    if i == t1:
      t1_win+=1
    if i == t2:
      t2_win+=1
  t1_arr = []
  t2_arr = []
  year_arr = []
  for i in head_to_head[['season','winner']].iterrows():
      index, year, win = i[0], i[1][0], i[1][1]
      if year in year_arr:
          if win == t1:
              t1_arr[year_arr.index(year)]+=1  
          if win == t2:
              t2_arr[year_arr.index(year)]+=1  
      else:
          year_arr.append(year)
          if win == t1:
              t1_arr.append(1)
              t2_arr.append(0)
          if win == t2:
              t1_arr.append(0)
              t2_arr.append(1)
  win_by_year = pd.DataFrame([t1_arr, t2_arr], columns = year_arr, index = [t1, t2])
  print("Head to Head:",t1,'v/s',t2)
  print(t1+':', t1_win)
  print(t2+':', t2_win) 
  return win_by_year

##### Batsman Intimadation Score

In [19]:
def bis_score(name, against, df):
    runs, norm_runs, bound_run, ball = [], [], [], []
    bdf = df[df['batsman']==name]
    if against != '':
        bdf = bdf[bdf['bowling_team']==against]
    for i in bdf['match_id'].unique():
        bdf2 = bdf[bdf['match_id']==i]
        runs.append(bdf2.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()['batsman_runs'][0])
        norm_runs.append(bdf2.groupby(['match_id'], sort = False)['norm_runs'].sum().reset_index()['norm_runs'][0])
        bound_run.append(bdf2.groupby(['match_id'], sort = False)['bound_runs'].sum().reset_index()['bound_runs'][0])
        ball.append(bdf2.groupby(['match_id'], sort = False)['ball'].count().reset_index()['ball'][0])
    ndf = pd.DataFrame({'tot_balls':ball,'bound_runs':bound_run,'norm_runs':norm_runs,'tot_runs':runs})  
    ndf['BIS'] = (ndf['tot_runs'] + ndf['bound_runs'] - (ndf['norm_runs'] * 0.5))/(ndf['tot_balls'])
    count, mean ,median, mini, maxi = ndf['BIS'].describe()[0], ndf['BIS'].describe()[1], ndf['BIS'].describe()[5], ndf['BIS'].describe()[3], ndf['BIS'].describe()[7]
    print('Matches Played:',count,'\tMean:',np.round_(mean, decimals = 3),'\tMedian:',np.round_(median, decimals = 3), '\tMinimum:',np.round_(mini, decimals = 3), '\tMaximum:',np.round_(maxi, decimals = 3))

##### Batsman boundary to total ratio

In [20]:
def tot_bound_ratio(name, against, df):
    bdf = df[df['batsman']==name]
    if against!= '': 
        bdf = bdf[bdf['bowling_team']==against]
    bounds = []
    total = []
    for i in bdf['match_id'].unique():
        bdf2 = bdf[bdf['match_id']==i]
        total.append(bdf2.groupby(['match_id'], sort = False)['batsman_runs'].sum().reset_index()['batsman_runs'][0])
        bounds.append(bdf2.groupby(['match_id'], sort = False)['bound_runs'].sum().reset_index()['bound_runs'][0])
    df2 = pd.DataFrame({'tot_runs':total,'bound_runs':bounds})
    df2['ratio'] = df2['bound_runs']/df2['tot_runs']
    count, mean ,median, mini, maxi = df2['ratio'].describe()[0], df2['ratio'].describe()[1], df2['ratio'].describe()[5], df2['ratio'].describe()[3], df2['ratio'].describe()[7]
    print('Matches Played:',count,'\tMean:',np.round_(mean, decimals = 3),'\tMedian:',np.round_(median, decimals = 3), '\tMinimum:',np.round_(mini, decimals = 3), '\tMaximum:',np.round_(maxi, decimals = 3))

##### Balls to target runs

In [21]:
def targ_runs(t1, t2, targ, df):
    df1 = df[df['batting_team'] == t1]
    df1 = df1[df1['bowling_team'] == t2].reset_index().drop(['index'], axis=1)
    runs = df1.groupby(['match_id'], sort = False)['total_runs'].sum().reset_index()
    runs = runs[runs['total_runs']>=targ]
    balls = []
    ball = 0
    for i in runs['match_id'].unique():
        dfi = df1[df1['match_id'] == i]
        df2 = dfi['total_runs'].values.tolist()
        dfex =  dfi['is_wide']
        runs = 0
        for j in df2:
            if runs <= targ:
                runs += j
                ball += 1 
        ball -= dfex.iloc[:ball].sum()
        balls.append(ball)
        ball = 0
    print(pd.DataFrame(balls).describe(),'\n')
    print(pd.DataFrame(balls).value_counts())

##### Bowler lethality score

In [22]:
def bls_score(name, against, df):
    wick, dot, bound_count, bound_run, tot = [], [], [], [], []
    bdf = df[df['bowler']==name]
    if against != '':
        bdf = bdf[bdf['batting_team']==against]
    for i in bdf['match_id'].unique():
        bdf2 = bdf[bdf['match_id']==i]
        wick.append(bdf2.groupby(['match_id'], sort = False)['dismissal_by_bowler'].sum().reset_index()['dismissal_by_bowler'][0])
        dot.append(bdf2.groupby(['match_id'], sort = False)['is_dot'].sum().reset_index()['is_dot'][0])
        bound_count.append(bdf2.groupby(['match_id'], sort = False)['is_bound'].sum().reset_index()['is_bound'][0])
        bound_run.append(bdf2.groupby(['match_id'], sort = False)['bound_runs'].sum().reset_index()['bound_runs'][0])
        tot.append(bdf2.groupby(['match_id'], sort = False)['ball'].count().reset_index()['ball'][0])
    ndf = pd.DataFrame({'tot_balls':tot,'dot_balls':dot,'bound_count':bound_count,'bound_run':bound_run,'wickets':wick})  
    ndf['BLS'] = ndf['tot_balls'] - (ndf['dot_balls'] * 2)
    ndf = ndf[ndf['BLS']!=0]
    ndf['BLS'] = (ndf['wickets'] + (ndf['dot_balls'] * 2)- (ndf['bound_run']/ndf['bound_count'])) /(ndf['tot_balls'] - (ndf['dot_balls'] * 2))
    count, mean ,median, mini, maxi = ndf['BLS'].describe()[0], ndf['BLS'].describe()[1], ndf['BLS'].describe()[5], ndf['BLS'].describe()[3], ndf['BLS'].describe()[7]
    print('Matches Played:',count,'\tMean:',np.round_(mean, decimals = 3),'\tMedian:',np.round_(median, decimals = 3), '\tMinimum:',np.round_(mini, decimals = 3), '\tMaximum:',np.round_(maxi, decimals = 3))

## Predicting Outputs

In [23]:
team1, team2 = 'RR','MI'
head_tab = head(team1, team2)
head_tab

Head to Head: RR v/s MI
RR: 10
MI: 10

    2008  2009  2010  2011  2012  2013  2014  2015  2018  2019
RR     1     1     0     2     0     1     0     1     2     2
MI     1     0     2     0     2     2     2     1     0     0

In [24]:
bat_list = {team1: ['Q de Kock','SS Tiwary','SA Yadav','KA Pollard','KH Pandya','HH Pandya','Ishan Kishan'],
            team2: ['SPD Smith', 'BA Stokes', 'SV Samson','R Tewatia','R Parag','JC Buttler','RV Uthappa','T Curran','DA Miller']}
for i in bat_list:
    print("Against",i,'=>')
    for j in bat_list[i]:
        print(j,'=>')
        bis_score(j, i, last3years)
        print()
    print()

Against RR =>
Q de Kock =>
Matches Played: 3.0 	Mean: 1.967 	Median: 1.974 	Minimum: 1.786 	Maximum: 2.142

SS Tiwary =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

SA Yadav =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

KA Pollard =>
Matches Played: 3.0 	Mean: 1.183 	Median: 1.3 	Minimum: 0.25 	Maximum: 2.0

KH Pandya =>
Matches Played: 3.0 	Mean: 0.778 	Median: 0.5 	Minimum: 0.25 	Maximum: 1.583

HH Pandya =>
Matches Played: 4.0 	Mean: 3.014 	Median: 3.042 	Minimum: 1.971 	Maximum: 4.0

Ishan Kishan =>
Matches Played: 3.0 	Mean: 1.943 	Median: 1.905 	Minimum: 1.091 	Maximum: 2.833


Against MI =>
SPD Smith =>
Matches Played: 6.0 	Mean: 1.208 	Median: 1.237 	Minimum: 0.25 	Maximum: 2.018

BA Stokes =>
Matches Played: 4.0 	Mean: 1.316 	Median: 1.682 	Minimum: 0.0 	Maximum: 1.9

SV Samson =>
Matches Played: 6.0 	Mean: 2.004 	Median: 2.06 	Minimum: 0.0 	Maximum: 3.711

R Tewatia =>
Matches Played: 1.0 	Mean: 3.375 	Median: 3.375 	Minimum: 3.375 	Maximum: 3.375

R Parag =>
Matches Played: 1.0 	Mean: 2.103 	Median: 2.103 	Minimum: 2.103 	Maximum: 2.103

JC Buttler =>
Matches Played: 3.0 	Mean: 2.215 	Median: 2.713 	Minimum: 0.375 	Maximum: 3.557

RV Uthappa =>
Matches Played: 6.0 	Mean: 1.433 	Median: 1.5 	Minimum: 0.167 	Maximum: 2.667

T Curran =>
Matches Played: 1.0 	Mean: 1.588 	Median: 1.588 	Minimum: 1.588 	Maximum: 1.588

DA Miller =>
Matches Played: 2.0 	Mean: 1.363 	Median: 1.363 	Minimum: 1.111 	Maximum: 1.615

In [29]:
for i in bat_list:
    print("Against",i,'=>')
    for j in bat_list[i]:
        print(j,'=>')
        tot_bound_ratio(j, i, last3years)
        print()
    print()
j = 'J Archer'
print(j,'=>')
tot_bound_ratio(j, team2, last3years)

Against RR =>
Q de Kock =>
Matches Played: 3.0 	Mean: 0.569 	Median: 0.578 	Minimum: 0.537 	Maximum: 0.593

SS Tiwary =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

SA Yadav =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

KA Pollard =>
Matches Played: 3.0 	Mean: 0.352 	Median: 0.455 	Minimum: 0.0 	Maximum: 0.6

KH Pandya =>
Matches Played: 3.0 	Mean: 0.19 	Median: 0.0 	Minimum: 0.0 	Maximum: 0.571

HH Pandya =>
Matches Played: 4.0 	Mean: 0.731 	Median: 0.682 	Minimum: 0.56 	Maximum: 1.0

Ishan Kishan =>
Matches Played: 3.0 	Mean: 0.573 	Median: 0.586 	Minimum: 0.333 	Maximum: 0.8


Against MI =>
SPD Smith =>
Matches Played: 6.0 	Mean: 0.364 	Median: 0.416 	Minimum: 0.0 	Maximum: 0.548

BA Stokes =>
Matches Played: 3.0 	Mean: 0.49 	Median: 0.471 	Minimum: 0.429 	Maximum: 0.571

SV Samson =>
Matches Played: 5.0 	Mean: 0.643 	Median: 0.714 	Minimum: 0.302 	Maximum: 0.889

R Tewatia =>
Matches Played: 1.0 	Mean: 0.667 	Median: 0.667 	Minimum: 0.667 	Maximum: 0.667

R Parag =>
Matches Played: 1.0 	Mean: 0.591 	Median: 0.591 	Minimum: 0.591 	Maximum: 0.591

JC Buttler =>
Matches Played: 3.0 	Mean: 0.503 	Median: 0.695 	Minimum: 0.0 	Maximum: 0.813

RV Uthappa =>
Matches Played: 6.0 	Mean: 0.517 	Median: 0.621 	Minimum: 0.0 	Maximum: 1.0

T Curran =>
Matches Played: 1.0 	Mean: 0.667 	Median: 0.667 	Minimum: 0.667 	Maximum: 0.667

DA Miller =>
Matches Played: 2.0 	Mean: 0.472 	Median: 0.472 	Minimum: 0.444 	Maximum: 0.5


J Archer =>
Matches Played: 1.0 	Mean: 0.4 	Median: 0.4 	Minimum: 0.4 	Maximum: 0.4

In [26]:
tr = 100
print('Balls taken by',team1,'to reach',tr,'runs against',team2,'=>')
targ_runs(team1, team2, tr, last3years)
print('\n\nBalls taken by',team2,'to reach',tr,'runs against',team1,'=>')
targ_runs(team2, team1, tr, last3years)

Balls taken by RR to reach 100 runs against MI =>
               0
count   4.000000
mean   66.500000
std     6.244998
min    59.000000
25%    62.750000
50%    67.000000
75%    70.750000
max    73.000000

73    1
70    1
64    1
59    1
dtype: int64


Balls taken by MI to reach 100 runs against RR =>
               0
count   4.000000
mean   68.500000
std     3.872983
min    63.000000
25%    67.500000
50%    69.500000
75%    70.500000
max    72.000000

72    1
70    1
69    1
63    1
dtype: int64

In [27]:
tr = 100
print('Balls taken by',team1,'to reach',tr,'runs against',team2,'=>')
targ_runs(team1, team2, tr, deli)
print('\n\nBalls taken by',team2,'to reach',tr,'runs against',team1,'=>')
targ_runs(team2, team1, tr, deli)

Balls taken by RR to reach 100 runs against MI =>
                0
count   19.000000
mean    78.263158
std     12.128214
min     59.000000
25%     70.000000
50%     76.000000
75%     84.500000
max    101.000000

70     3
101    1
76     1
63     1
64     1
68     1
73     1
75     1
81     1
100    1
82     1
83     1
84     1
85     1
88     1
95     1
59     1
dtype: int64


Balls taken by MI to reach 100 runs against RR =>
               0
count  18.000000
mean   76.722222
std    13.190039
min    52.000000
25%    69.250000
50%    73.500000
75%    87.750000
max    98.000000

98    2
70    2
69    2
94    1
91    1
89    1
84    1
80    1
75    1
74    1
73    1
72    1
63    1
60    1
52    1
dtype: int64

In [28]:
bowl_list = {team1: ['JJ Bumrah','RD Chahar','TA Boult', 'HH Pandya','KH Pandya','KA Pollard','DS Kulkarni','NM Coulter-Nile'],
            team2: ['AS Rajpoot','JD Unadkat','J Archer', 'S Gopal', 'BA Stokes','R Tewatia','AJ Tye','T Curran']}
for i in bowl_list:
    print("Against",i,'=>')
    for j in bowl_list[i]:
        print(j,'=>')
        bls_score(j, i, last3years)
        print()
    print()

Against RR =>
JJ Bumrah =>
Matches Played: 3.0 	Mean: 2.146 	Median: 1.625 	Minimum: 1.214 	Maximum: 3.6

RD Chahar =>
Matches Played: 2.0 	Mean: 2.762 	Median: 2.762 	Minimum: 0.9 	Maximum: 4.625

TA Boult =>
Matches Played: 2.0 	Mean: 1.506 	Median: 1.506 	Minimum: 0.727 	Maximum: 2.286

HH Pandya =>
Matches Played: 4.0 	Mean: 1.423 	Median: 0.846 	Minimum: 0.0 	Maximum: 4.0

KH Pandya =>
Matches Played: 4.0 	Mean: 0.792 	Median: 0.906 	Minimum: -0.2 	Maximum: 1.556

KA Pollard =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

DS Kulkarni =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan

NM Coulter-Nile =>
Matches Played: 0.0 	Mean: nan 	Median: nan 	Minimum: nan 	Maximum: nan


Against MI =>
AS Rajpoot =>
Matches Played: 5.0 	Mean: 0.165 	Median: 1.383 	Minimum: -8.667 	Maximum: 5.4

JD Unadkat =>
Matches Played: 7.0 	Mean: 2.836 	Median: 2.19 	Minimum: 0.533 	Maximum: 9.0

J Archer =>
Matches Played: 3.0 	Mean: -5.825 	Median: -6.083 	Minimum: -12.5 	Maximum: 1.109

S Gopal =>
Matches Played: 4.0 	Mean: 1.182 	Median: 0.75 	Minimum: -0.273 	Maximum: 3.5

BA Stokes =>
Matches Played: 4.0 	Mean: 4.843 	Median: 6.056 	Minimum: 0.593 	Maximum: 6.667

R Tewatia =>
Matches Played: 2.0 	Mean: 1.944 	Median: 1.944 	Minimum: 1.389 	Maximum: 2.5

AJ Tye =>
Matches Played: 5.0 	Mean: -0.574 	Median: 0.278 	Minimum: -6.0 	Maximum: 1.444

T Curran =>
Matches Played: 1.0 	Mean: 0.6 	Median: 0.6 	Minimum: 0.6 	Maximum: 0.6